<!DOCTYPE html>
<html lang="ru">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/style.min.css">
        <title>Надёжный поставщик</title>
    </head>

    <body class="pageBody">

        <section class="grid grid__element--marginTop-big">
            <article class="grid__article">
                <div class="grid__element grid__element--wide">
                    <h2 class="heading heading--h2">
                        Почему при строительстве домов из клееного бруса важно выбрать надежного поставщика материала?
                    </h2>
                    <p class="text text--left text--sm">
                        Если брус произведён с нарушениями технологии, например недосушен, то при сборке стен будет нарушаться геометрия и процесс усложнится, а также с каждым венцом могут появляться перекосы. Если даже одна или две ламели недосушены, то они будут досыхать уже в процессе эксплуатации дома и тогда брус может лопнуть в торце или разойтись по клеевому шву.
                    </p>
                </div>
            </article>
        </section>

        <div class="flex">
            <div class="flex__element">
                <h2 class="heading heading--h2">Компания «Русский Запад» — наш поставщик клееного бруса</h2>

                <p class="text text--center text--sm text--bottom">В чем <b>плюсы</b> клееного бруса от «Русского Запада»:</p>

                <ul class="list list--unordered">
                    <li class="list__item list__item--unordered list__item--close">
                        <p class="text text--sm">Это <b>единственная</b> компания в России, которая при производстве бруса в 12 метров делает всего одну сростку на торцевой фланели, что дает большую прочность — брус состоит всего из <b>двух</b> сегментов.</p>
                    </li>
                    <li class="list__item list__item--unordered list__item--close">
                        <p class="text text--sm">При производстве используются клеевые системы японской компании «AICA» не содержащие формальдегидов и других вредных примесей, что делает брус <b>абсолютно безвредным</b> для конечного потребителя.</p>
                    </li>
                    <li class="list__item list__item--unordered list__item--close">
                        <p class="text text--sm">Компания располагает целым сушильным комплексом для сушки ламелей перед склейкой; разные породы дерева сушатся <b>независимо</b> друг от друга.</p>
                    </li>
                    <li class="list__item list__item--unordered list__item--close">
                        <p class="text text--sm">Высокоточное <b>немецкое</b> оборудование с ЧПУ позволяет производить различные виды запилов кроме стандартных «чашек», например «ласточкин хвост».</p>
                    </li>
                    <li class="list__item list__item--unordered list__item--close">
                        <p class="text text--sm">Перед сборкой сырье <b>тщательно отбирается</b>, чтобы в сборку не пошли ламели с пороками древесины.</p>
                    </li>
                </ul>
            </div>

            <div class="iframe">
                <iframe width="325" height="646"
                    src="https://vkvideo.ru/video_ext.php?oid=-212663856&id=456239081&hd=2"
                    allow="encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;"
                    frameborder="0" allowfullscreen>
                </iframe>
            </div>
        </div>

        <div style="height: 6rem;"></div>

    </body>
</html>