{% extends "common.html" %}

{% block head %}

{% endblock head%}

{% block title %}Дом Баня - Политика обработки персональных данных{% endblock %}

{% block content %}

    <section class="">
        <h1 class="heading--h3 text--sm-center">Согласие на обработку персональных данных для посетителей сайта</h1>
        <div class="text--sm" style="width: 700px; margin: auto;">
            <p>Заполняя любую форму на сайте <a href="https://www.domizkleenogobrusa.ru">https://www.domizkleenogobrusa.ru</a> , я (пользователь сайта) подтверждаю, что:</p>
        <ul>
            <li>
                предоставляю свои персональные данные <b>Дом Баня, Москва "Конструктор", МКАД 25-й км, Выставочный дом 1.8.</b>
            </li>
            <li>
                 добровольно и в своих интересах даю согласие на обработку следующих данных:
            </li>
            <li>
                ФИО, телефон, адрес электронной почты и иные сведения, указанные в формах;
            </li>
            <li>
                данные, собираемые автоматически при помощи файлов cookie и сервиса <b>Яндекс.Метрика</b>(IP-адрес, сведения о действиях на сайте, браузере и др.)
            </li>
        </ul>
        <h2 class="heading--h5">Обработка осуществляется с целями:</h2>
        <ul>
            <li>
                обратная связь, консультирование и информирование;
            </li>
            <li>
                оформление и исполнение заявок, заказов и договоров;
            </li>
            <li>
                проведение статистических и маркетинговых исследований, улучшение качества работы сайта. 
            </li>
        </ul>
        <h2 class="heading--h5">Срок действия согласия:</h2>
        <p>до достижения целей обработки или до его отзыва пользователем</p>
        <h2 class="heading--h5">Отзыв согласия:</h2>
        <p>путём направления письменного уведомления на e-mail: <a href="kirovdt@mail.ru">kirovdt@mail.ru</a> 
            <br>Настоящее согласие может быть отозвано в любой момент, что не влияет на законность обработки до момента отзыва</p>

        </div>
    </section>

{% endblock content %}