{% extends "common.html" %}
{% load static %}
{% load thumbnail %}
{% load category_tags %}

{% block head %}
{% include 'includes/meta.html' %}
{% endblock head %}

{% block title %}{{ category_title }}{% endblock %}

{% block content %}

<section class="promo promo--half"
         style="background-image: linear-gradient(0deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 100%), url({% static 'img/projects-promo-houses.jpg' %});">
  <div class="promo__wrapper">
    {% if category_header %}
      <h1 class="heading heading--h1 heading--white">{{ category_header }}</h1>
    {% elif saunas_list %}
      <h1 class="heading heading--h1 heading--white">Бани из клееного бруса</h1>
    {% else %}
      <h1 class="heading heading--h1 heading--white">Дома из клееного бруса</h1>
    {% endif %}

    {% category_menu %}

    {% if categories and curr_category %}
      <div style="margin-top: 20px; display: flex; flex-wrap: wrap; gap: 10px; justify-content: center;">
        {% for subcategory in categories %}
          <a href="/{{ base_url }}/{{ curr_category.slug }}/{{ subcategory.slug }}/"
             style="display: inline-block; padding: 6px 45px; border-radius: 4px; background-color: #32328e; font-family: Inter; font-weight: 500; font-size: 16px; color: #fff; text-align: center; transition: all .3s ease-in-out; cursor: pointer; text-decoration: none;"
             onmouseover="this.style.color='#13133a'; this.style.backgroundColor='#fffc'; this.style.boxShadow='0 3px 8px rgba(255,255,255,0.3)';"
             onmouseout="this.style.color='#fff'; this.style.backgroundColor='#32328e'; this.style.boxShadow='none';">
            {{ subcategory.name }}
          </a>
        {% endfor %}
      </div>
    {% endif %}

  </div>
</section>


{% include 'includes/list_houses.html' %}

<div class="hr"></div>
{% include "includes/supplier.html" %}

{% endblock content %}

{% block scripts %}
<script nonce="{{ CSP_NONCE }}" type="module" src="{% static 'js/blocks/category/category.js' %}"></script>
{% endblock scripts %}
