{% extends "common.html" %}
{% load static %}
{% load thumbnail %}
{% load category_tags %}

{% block head %}
{% include 'includes/meta.html' %}
{% endblock head %}

{% block title %}{{ category_title }}{% endblock %}

{% block content %}

<section class="promo promo--half"
         style="background-image: linear-gradient(0deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 100%), url({% static 'img/projects-promo-houses.jpg' %});">
  <div class="promo__wrapper">
    {% if category_header %}
      <h1 class="heading heading--h1 heading--white">{{ category_header }}</h1>
    {% elif saunas_list %}
      <h1 class="heading heading--h1 heading--white">Бани из клееного бруса</h1>
    {% else %}
      <h1 class="heading heading--h1 heading--white">Дома из клееного бруса</h1>
    {% endif %}

    {% category_menu %}

  </div>
</section>


{% include 'includes/list_houses.html' %}

<div class="hr"></div>
{% include "includes/supplier.html" %}

{% endblock content %}

{% block scripts %}
<script nonce="{{ CSP_NONCE }}" type="module" src="{% static 'js/blocks/category/category.js' %}"></script>
{% endblock scripts %}
