<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Дом-Баня{% endblock %}</title>

  {% block head %}
  {% endblock head %}
</head>

<body class="page-body">

  {% include "header.html" %}

  <main class="page-main">
    {% block content %}
    {% endblock %}
  </main>

  {% include "footer.html" %}

  {% block scripts %}
  {% endblock %}
</body>
</html>