{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self' ; style-src 'self' 'unsafe-inline';"> -->
  <!-- <meta name="robots" content="noindex, nofollow" /> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#000000">
  <meta name="msapplication-TileColor" content="#000000">
  <meta name="apple-mobile-web-app-status-bar-style" content="#000000">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon_package/apple-touch-icon.png' %}">
  <link rel="icon" href="{% static 'favicon_package/favicon.ico' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon_package/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_package/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'favicon_package/site.webmanifest' %}">
  <link rel="mask-icon" href="{% static 'favicon_package/safari-pinned-tab.svg' %}" color="#000000">
  <title>{% block title %}Дом Баня{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.min.css' %}">
  {% block head %}
  {% endblock head %}
  <!-- PRELOADS START -->
	<link rel="preconnect" href="//api-maps.yandex.ru">
	<link rel="dns-prefetch" href="//api-maps.yandex.ru">
	<link rel="preconnect" href="//yastatic.net">
	<link rel="dns-prefetch" href="//yastatic.net">
	<link rel="preconnect" href="//yandex.st">
	<link rel="dns-prefetch" href="//yandex.st">
  <!-- <link rel="preload" href="https://yastatic.net/s3/front-maps-static/maps-front-jsapi-v2-1/2.1.79-37/build/release/full-6341f0c1e121ed8c4cbf1c6d8dc350380d538a9a.js" as="script">
  <link rel="preload" href="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=3bc4a693-f065-47a8-bdd4-4c7fd4d23917" as="script">
  <link rel="preload" href="https://yandex.st/jquery/2.2.3/jquery.min.js" type="text/javascript" as="script"> -->
  <link rel="preload" href="{% static 'js/route-panel-control.js' %}" as="script">
  <!-- PRELOADS END -->
</head>

<body class="pageBody">

  {% include "header.html" %}

  <main class="pageMain">
    {% block content %}
    {% endblock content %}
  </main>

  <div class="overlay"></div>

  {% include "footer.html" %}
  <!-- <script>
    setTimeout(() => {
      const body = document.querySelector(`body`);
      
      let yaMaps = document.createElement(`script`);
      yaMaps.type = `text/javascript`;
      yaMaps.nonce = `{{ CSP_NONCE }}`;
      yaMaps.src = `https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=3bc4a693-f065-47a8-bdd4-4c7fd4d23917`;
      body.appendChild(yaMaps);
      
      let yaStatic = document.createElement(`script`);
      yaStatic.type = `text/javascript`;
      yaStatic.nonce = `{{ CSP_NONCE }}`;
      yaStatic.src = `https://yandex.st/jquery/2.2.3/jquery.min.js`;
      body.appendChild(yaStatic);
      
      setTimeout(() => {
        ymaps.ready(window.mapsInit);
      }, 1000);
    }, 2000);

    // const getYaMap = () => {
    //   const myMap = new ymaps.Map("map",{center: [30.325,59.935],zoom: 13});
    //   ymaps.geocode("Санкт-Петербург, ул. Невский проспект, 28").then(function (res) {
    //     var coord = res.geoObjects.get(0).geometry.getCoordinates();
    //     var myPlacemark = new ymaps.Placemark(coord);
    //     myMap.geoObjects.add(myPlacemark);
    //     myMap.setCenter(coord);					
    //   });
    // };
  </script> -->

  
  <script nonce="{{ CSP_NONCE }}" src="{% static 'js/burger/burger.js' %}"></script>
  <script nonce="{{ CSP_NONCE }}" src="{% static 'js/mainNav/mainNav.js' %}"></script>

  <script nonce="{{ CSP_NONCE }}"  src="https://yandex.st/jquery/2.2.3/jquery.min.js" type="text/javascript"></script>
  <script nonce="{{ CSP_NONCE }}"  src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=3bc4a693-f065-47a8-bdd4-4c7fd4d23917" type="text/javascript"></script>
  <script nonce="{{ CSP_NONCE }}" src="{% static 'js/route-panel-control.js' %}" type="text/javascript"></script>

  {% block scripts %}
  {% endblock scripts %}
</body>
</html>