{% load static %}
<footer class="pageFooter">

  <div class="pageFooter__left">
    <div id="map" class="pageFooter__map"></div>
  </div>
  <div class="pageFooter__right">
    <h2 class="heading heading--h2 heading--left heading--white heading--bold">Остались вопросы?</h2>
    <p class="text text--left">
      <a type="tel" href="tel:+79104084800" class="text__link text__link--alt">+7 (910) 408-48-00</a></br>
      <a type="tel" href="tel:+79857601534" class="text__link text__link--alt">+7 (985) 760-15-34</a></br>
      <a type="email" href="mailto:kirovdt@mail.ru" class="text__link text__link--alt">kirovdt@mail.ru</a>
    </p>
    <p class="text text--left text--white text--padding-topBig">
      Свяжитесь с нами в социальных сетях или другим удобным способом.
    </p>
    <ul class="social pageFooter__social">
      <li class="social__item social__item--big">
        <a href="https://www.facebook.com/kirovdt">
          Facebook
          <svg class="social__icon social__icon--fb" width="40" height="40" alt="facebook logo">
            <use href="{% static 'img/sprite.svg' %}#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social__item social__item--big">
        <a href="https://www.youtube.com/channel/UCoj58GpShlVhV-euDQdW_nQ">
          YouTube
          <svg class="social__icon social__icon--yt" width="40" height="40" alt="youtube logo">
            <use href="{% static 'img/sprite.svg' %}#icon-youtube"></use>
          </svg>
        </a>
      </li>
      <li class="social__item social__item--big">
        <a href="https://www.instagram.com/dom_banya_msk/">
          Instagram
          <svg class="social__icon social__icon--insta" width="40" height="40" alt="instagram logo">
            <use href="{% static 'img/sprite.svg' %}#icon-instagram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>