<header class="page-header">
  <nav class="main-nav">
    <ul class="main-nav__list">
      <li class="main-nav__item">
        <a href="/projects/" class="main-nav__link">Проекты</a>
      </li>
      <li class="main-nav__item">
        <a href="/about/" class="main-nav__link">О нас</a>
      </li>
      <li class="main-nav__item">
        <a href="/design/" class="main-nav__link">Проектирование</a>
      </li>
      <li class="main-nav__item">
        <a href="/production/" class="main-nav__link">Производство</a>
      </li>
    </ul>
  </nav>

  <a class="logo" href="/">ДомБаня</a>

  <div class="header-contacts"></div>
</header>
