{% extends "common.html" %}

{% block head %}

{% endblock head%}

{% block title %}Дом Баня - Политика конфиденциальности{% endblock %}

{% block content %}

<section class="grid">
  <article class="grid__article">
    <div class="grid__element grid__element--wide grid__element--marginBottom-medium">
      <h1 class="heading heading--h1">Политика конфиденциальности для веб-сайта ДомБаня</h1>

      <h2 class="heading heading--h2 heading--paddingTop-30">1. ОПРЕДЕЛЕНИЕ ПОНЯТИЙ</h2>
      <p class="text text--sm">"<strong>Закон</strong>" означает Федеральный закон Российской Федерации "О персональных данных" со всеми изменениями и дополнениями, а также иные законодательные акты Российской Федерации. </p>
      <p class="text text--sm">"<strong>Сайт</strong>" означает информационную единицу в Интернете, ресурс из веб-страниц (документов), которые объединены общей темой и связаны между друг с другом с помощью ссылок. Он зарегистрирован на Правообладателя и обязательно привязан к конкретному домену, являющемуся его адресом. Настоящая Политика разработана для следующего сайта: <span id="span_id_линк_сайт">domizkleenogobrusa.ru</span></p>
      <p class="text text--sm">"<strong>Персональные данные</strong>" означает совокупность личных данных и/или неперсонифицированной информации о Пользователе, предоставляемую им самим Правообладателю и/или автоматически собираемую Правообладателем и/или третьими лицами.</p>
      <p class="text text--sm">"<strong>Политика</strong>" означает настоящею Политику конфиденциальности для веб-сайта (со всеми существующими дополнениями и изменениями). </p>
      <p class="text text--sm">"<strong>Пользователь</strong>" означает юридическое или физическое лицо, которое пользуется Сайтом и/или получило к нему доступ с какого-либо устройства.</p>
      <p class="text text--sm">"<strong>Пользовательское соглашение</strong>" означает соглашение, заключаемое между Правообладателем и Пользователем в отношении порядка, правил и особенностей использования Сайта. Пользователь присоединяется к такому соглашению и не имеет права вносить и/или требовать внесения в него каких-либо изменений или дополнений. </p>
      <p class="text text--sm">"<strong>Правообладатель</strong>" означает следующее лицо, на имя которого зарегистрирован Сайт:</p>
      <p class="text text--sm"><em><span id="span_id_название_компании">Дом Баня, Москва "Конструктор", МКАД 25-й км, Выставочный дом 1.8. Контактные данные: kirovdt@mail.ru</span></em></p>
      <p class="text text--sm">"<strong>Файлы куки</strong>" означает небольшие файлы, отправляемые каким-либо сайтом, и размещаемые на компьютерах, смартфонах, планшетах, часах и других мобильных устройствах Пользователя, для улучшения работы сайтов, а также качества размещенного в них контента. </p>

      <h2 class="heading heading--h2 heading--paddingTop-30">2. ОТНОШЕНИЯ, НА КОТОРЫЕ РАСПРОСТРАНЯЕТСЯ ПОЛИТИКА</h2>
      <p class="text text--sm"><strong>Общие положения</strong></p>
      <p class="text text--sm">Данная Политика используется и применима исключительно к Персональным данным, получаемым от Пользователя в связи с использованием им Сайта. Положения данной Политики направлены на:</p>
      <ol class="text text--left text--sm list--paddingTop-none list--paddingBottom-none">
        <li>определение видов и типов получаемых Персональных данных, направлений и целей использования (обработки) Персональных данных, а также источников получения таких Персональных данных;</li>
        <li>определение прав Пользователя в отношении защиты конфиденциальности передаваемых им Персональных данных;</li>
        <li>определение лиц, ответственных за обработку и хранение Персональных данных, а также третьих лиц, которым такие данные раскрываются (полностью или частично).</li>
      </ol>
      <p class="text text--sm">Правила настоящей Политики не применяются в случае обработки третьими лицами Персональных данных, которые добровольно предоставляются Пользователем.</p>
      <p class="text text--sm">Посредством использования Сайта Пользователь соглашается с условиями данной Политики и дает свое согласие Правообладателю на сбор, обработку, удержание и хранение Персональных данных в порядке и на условиях, предусмотренных настоящей Политикой.</p>
      <p class="text text--sm">Если Пользователь не согласен с условиями Политики и/или отдельные условия Политики ему не понятны, в таком случае Пользователь обязан немедленно прекратить использование Сайта.</p>
      <p class="text text--sm"><strong>Права пользователя по защите персональных данных</strong></p>
      <p class="text text--sm">В связи с предоставлением Персональных данных Пользователь автоматически получает следующие права:</p>
      <ol class="text text--left text--sm list--paddingTop-none list--paddingBottom-none">
        <li>получать данные, касающиеся их обработки (основания и цели такой обработки, применяемые способы обработки, сведения о лицах, которые имеют доступ к ним или которым они могут быть раскрыты на основании договора или Закона);</li>
        <li>получать данные о месте нахождения и идентификационных данных лиц, совершающих обработку Персональных данных;</li>
        <li>получать данные о сроках хранения Персональных данных;</li>
        <li>получать данные об осуществленной или о предполагаемой трансграничной передаче Персональных данных;</li>
        <li>обжаловать действия или бездействие Правообладателя в уполномоченный орган по защите прав субъектов персональных данных или в судебном порядке;</li>
        <li>получать возмещение убытков и/или компенсацию морального вреда в судебном порядке в следствие допущенных Правообладателем и/или третьими лицами нарушений прав Пользователя на охрану и защиту его Персональных данных;</li>
        <li>реализовывать иные права в области защиты персональных данных, предусмотренные Законом или положениями данной Политики.</li>
      </ol>

      <h2 class="heading heading--h2 heading--paddingTop-30">3. ПЕРЕЧЕНЬ СОБИРАЕМЫХ ПЕРСОНАЛЬНЫХ ДАННЫХ</h2>
      <p class="text text--sm"><strong>Неперсонифицированная информация о пользователях</strong></p>
      <p class="text text--sm">В связи с использованием Сайта Правообладатель может автоматически собирать и обрабатывать следующею неперсонифицированную информацию о Пользователе:</p>
      <ol class="text text--left text--sm list--paddingTop-none list--paddingBottom-none">
        <li>информацию о трафике, возможном количестве совершенных кликов, логи и другие данные;</li>
        <li>информацию об устройстве (идентификационный номер устройства, с которого выполняется вход, операционная система, платформа, тип браузера и другая информация о браузере, IP адрес).</li>
      </ol>
      <p class="text text--sm"><strong>Личные данные о пользователях</strong></p>
      <p class="text text--sm">Правообладатель не собирает какие-либо личные данные о Пользователях, которые позволяют его идентифицировать.</p>
      <p class="text text--sm"><strong>Использование файлов куки</strong></p>
      <p class="text text--sm">Сайт применяет определенные Файлы куки для сохранения IP-адреса, предпочтений Пользователей или типа используемого устройства с целью:</p>
      <ol class="text text--left text--sm list--paddingTop-none list--paddingBottom-none">
        <li>ведения статистики посещений и трафика сайта;</li>
        <li>персонализации выводимых на экран Пользователя данных;</li>
        <li>сохранения данных, необходимых для идентификации Пользователя, в том числе при доступе с разных устройств;</li>
        <li>показа рекламы в соответствии с интересами и предпочтениями Пользователя. Сайт может использовать как собственные Файлы куки, принадлежащие Правообладателю, так и Файлы куки третьих лиц.</li>
      </ol>
      <p class="text text--sm">Сайт использует следующие Файлы куки:</p>
      <ol class="text text--left text--sm list--paddingTop-none list--paddingBottom-none">
        <li><em>Технические (функциональные) Файлы куки</em>, которые нужны для контроля трафика и передачи данных, для идентификации Пользователей и предоставления доступа Пользователю к контенту и без которых использование Сайта является функционально ограниченным, а также для предотвращения предоставления рекомендаций, не соответствующих интересам Пользователя;</li>
        <li><em>Статистические Файлы куки</em>, которые нужны для отслеживания частоты посещаемости сайта Пользователями, для выявления способов использования Сайта, а также для выявления типа и вида контента, который является популярными или интересным для Пользователя;</li>
        <li><em>Файлы куки третьих лиц</em>, которые устанавливаются третьими лицами с разрешения Пользователя и предназначены для проведения статистических исследований, касающихся поведения Пользователя в сети Интернет и/или направления персонализиированных рекламных или маркетинговых материалов Пользователю и/или предоставления товаров или услуг;</li>
        <li>показа рекламы в соответствии с интересами и предпочтениями Пользователя. Сайт может использовать как собственные Файлы куки, принадлежащие Правообладателю, так и Файлы куки третьих лиц.</li>
      </ol>
      <p class="text text--sm">Пользователь имеет право в любой момент отключить Файлы куки путем изменения определенных настроек в своем браузере. Такое отключение не влечет за собой ограничение или изменение доступа Пользователя к функциональным возможностям Сайта и/или его контенту. Для отключения Файлов куки нужно выполнить следующие действия:</p>
      <p class="text text--sm"><em><span id="span_id_отключение_куки"><span class="variable_vide">________</span></span></em></p>

      <h2 class="heading heading--h2 heading--paddingTop-30">4. ЦЕЛИ СБОРА И ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ</h2>
      <p class="text text--sm"><strong>Определение целей обработки</strong></p>
      <p class="text text--sm">Сбор и обработка Персональных данных осуществляется в следующих целях:</p>
      <ol class="text text--left text--sm list--paddingTop-none list--paddingBottom-none">
        <li>для анализа поведения Пользователя, а также выявления предпочтений Пользователя к определенному виду контента;</li>
        <li>для оперативной и корректной работы Сайта, улучшения его функциональности и и контента;</li>
        <li>для идентификации Пользователя;</li>
        <li>для соблюдения требований Закона;</li>
        <li>для технической поддержки Сайта, выявления проблем в его работе и их устранение;</li>
        <li>для поддержания связи с Пользователем (коммуникация);</li>
        <li>для выполнения иных обязательств Правообладателя, которые возникли перед Пользователем;</li>
        <li>для проведения статистических исследований;</li>
        <li>для любых других целей, при условии получения отдельного согласия от Пользователя.</li>
      </ol>
      <p class="text text--sm">Обработка Персональных данных осуществляется на основе принципов:</p>
      <ol class="text text--left text--sm list--paddingTop-none list--paddingBottom-none">
        <li>законности целей и способов обработки;</li>
        <li>добросовестности;</li>
        <li>для идентификации Пользователя;</li>
        <li>соответствия объема и характера обрабатываемых Персональных данных заявленным целям их обработки.</li>
      </ol>
      <p class="text text--sm"><strong>Условия обработки персональных данных</strong></p>
      <p class="text text--sm">Обработка Персональных данных проводится в случаях:</p>
      <ol class="text text--left text--sm list--paddingTop-none list--paddingBottom-none">
        <li>получения согласия от Пользователя;</li>
        <li>достижения Правообладателем целей, предусмотренных международным договором или Законом;</li>
        <li>предоставления Пользователем своих Персональных данных неограниченному кругу лицу;</li>
        <li>выполнения иных обязательств Правообладателя перед Пользователем, включая, однако не ограничиваясь, предоставление определенного контента Пользователю;</li>
        <li>спасения жизни или здоровья Пользователя, когда согласие на обработку его Персональных данных не удается получить заблаговременно.</li>
      </ol>
      <p class="text text--sm">В случае обезличивания Персональных данных, что не позволяет прямо или опосредованно определить Пользователя, последующее использование и раскрытие таких данных третьим лицам допускается и в отношении их более не применяются правила данной Политики.</p>
      <p class="text text--sm">Правообладатель принимает все возможные меры для защиты конфиденциальности полученных Персональных данных, за исключением случаев, когда Пользователь сделал такие данные общедоступными.</p>
      <p class="text text--sm">Обработка Персональных данных осуществляется с использованием средств автоматизации и без использования таких средств автоматизации.</p>

      <h2 class="heading heading--h2 heading--paddingTop-30">5. ДОСТУП ТРЕТЬИХ ЛИЦ К ПЕРСОНАЛЬНЫМ ДАННЫМ</h2>
      <p class="text text--sm"><strong>Использование аналитических платформ</strong></p>
      <p class="text text--sm">Правообладатель использует аналитическую платформу Яндекс.Метрика для:</p>
      <ol class="text text--left text--sm list--paddingTop-none list--paddingBottom-none">
        <li>отслеживания частоты посещаемости сайта Пользователями;</li>
        <li>отслеживания способов использования Пользователем Сайта и/или его контента;</li>
        <li>выявления типа и вида контента, который является популярными среди Пользователей;</li>
        <li>определения места нахождения Пользователя. Пользователь также дает свое согласие Правообладателю на использование им информации, полученной о Пользователе от аналитической платформы Яндекс.Метрика.</li>
      </ol>
      <p class="text text--sm">Для указанных целей аналитическая платформа Яндекс.Метрика может собирать данные об IP адресе, геолокации, поведении Пользователя, а также его предпочтениях и интересе в отношении определенного контента.</p>
      <p class="text text--sm">Аналитическая платформа Яндекс.Метрика получает доступ к Персональным данным с тем, чтоб предоставить Правообладателю понимание того насколько эффективно работает его Сайт, какой именно контент является популярным, насколько эффективно размещение в нем той или иной рекламы, а также для целей разработки и/или улучшения существующей маркетинговой стратегии Правообладателя.</p>
      <p class="text text--sm">С момента использования Сайта Пользователь соглашается с политикой конфиденциальности (Privacy Policy) аналитической платформы Яндекс.Метрика, а также с автоматической установкой на устройство Пользователя соответствующих Файлов куки.</p>

      <h2 class="heading heading--h2 heading--paddingTop-30">6. РАЗМЕЩЕНИЕ РЕКЛАМЫ</h2>
      <p class="text text--sm"><strong>Реклама на Сайте</strong></p>
      <p class="text text--sm">Правообладатель не размещает рекламу на Сайте.</p>

      <h2 class="heading heading--h2 heading--paddingTop-30">7. НАПРАВЛЕНИЕ ЖАЛОБ И ЗАПРОСОВ ПРАВООБЛАДАТЕЛЮ</h2>
      <p class="text text--sm"><strong>Требование о прекращении обработки персональных данных</strong></p>
      <p class="text text--sm">Каждый Пользователь имеет право выразить свое возражение Правообладателю против обработки и/или хранения его Персональных данных. Такое возражение может быть выражено следующим образом:</p>
      <p class="text text--sm"><em><span id="span_id_адрес_требование"><span class="variable_vide">________</span></span></em></p>
      <p class="text text--sm"><strong>Запрос на получение информации о персональных данных</strong></p>
      <p class="text text--sm">Если у Пользователя возникают вопросы, связанные с порядком применения или использования настоящий Политики, порядком и/или способом обработки Персональных данных, Пользователь может задать такой вопрос следующим образом:</p>
      <p class="text text--sm"><em><span id="span_id_адрес_запрос_1"><span class="variable_vide">________</span></span></em></p>
      <p class="text text--sm"><strong>Изменение (обновление, дополнение, корректировка) или удалении персональных данных</strong></p>
      <p class="text text--sm">Пользователь имеет право в любой момент изменить или удалить Персональные данные посредством направления специального запроса Правообладателю по следующему адресу: <span id="span_id_адрес_удаление">kirovdt@mail.ru</span>.</p>
      <p class="text text--sm">Правообладатель имеет право отказать в изменении или удалении Персональных данных, если такие действия приведут к:</p>
      <ol class="text text--left text--sm list--paddingTop-none list--paddingBottom-none">
        <li>нарушению правил настоящей Политики;</li>
        <li>нарушению Закона;</li>
        <li>характер Персональных данных является доказательством в каком-либо судебном процессе, возникшем между Правообладателем и Пользователем.</li>
      </ol>

      <h2 class="heading heading--h2 heading--paddingTop-30">8. СРОКИ И ПОРЯДОК ХРАНЕНИЯ ПЕРСОНАЛЬНЫХ ДАННЫХ</h2>
      <p class="text text--sm">Хранение осуществляется самостоятельно Правообладателем.</p>
      <p class="text text--sm">Хранение осуществляется в течение всего срока, необходимого для достижения заявленных целей обработки Персональных данных.</p>
      <p class="text text--sm">Правообладатель обязуется немедленно после достижения целей обработки Персональных данных уничтожить их или же обезличить.</p>

      <h2 class="heading heading--h2 heading--paddingTop-30">9. ДОСТУП НЕСОВЕРШЕННОЛЕТНИХ К САЙТУ</h2>
      <p class="text text--sm">Сайт может быть использовано лицами в возрасте до 18 лет. Поскольку Сайт не собирает личные данные о Пользователях, согласие на обработку Личных данных несовершеннолетних Пользователей не требуется.</p>
      <p class="text text--sm">Если несовершеннолетний Пользователь не может предоставить согласие на обработку его Персональных данных от законного представителя (опекуна), в таком случае такой Пользователь обязан немедленно прекратить использование Сайта.</p>

      <h2 class="heading heading--h2 heading--paddingTop-30">10. ПОРЯДОК ЗАЩИТЫ ПЕРСОНАЛЬНЫХ ДАННЫХ</h2>
      <p class="text text--sm">Защита конфиденциальности Персональных данных является первостепенной и важной задачей для Правообладателя. Правообладатель придерживается всех требуемых международных стандартов, правил и рекомендаций по защите Персональных данных.</p>
      <p class="text text--sm">Правообладатель внедрил ряд технических и организационных методов, направленных на защиту Персональных данных от разглашения или несанкционированного доступа к ним третьих лиц. </p>

      <h2 class="heading heading--h2 heading--paddingTop-30">11. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</h2>
      <p class="text text--sm"><strong>Доступность текста политики для ознакомления</strong></p>
      <p class="text text--sm">Пользователи могут ознакомиться с условиями данной Политики по следующей ссылке: <span id="span_id_ссылка_политика">domizkleenogobrusa.ru/policy/</span>.</p>
      <p class="text text--sm">Данная редакция Политики действует от <span id="span_id_date">1 января 2022 годa</span>.</p>
      <p class="text text--sm"><strong>Изменение и дополнение политики</strong></p>
      <p class="text text--sm">Настоящая Политика может быть изменена время от времени. Правообладатель не несет какой-либо ответственности перед Пользователем за изменение условий данной Политики без разрешения и/или согласия Пользователя.</p>
      <p class="text text--sm">Пользователь сам обязуется на регулярной основе проверять положения данной Политики на предмет ее возможного изменения или дополнения. </p>
      <p class="text text--sm"><strong>Применимое законодательство</strong></p>
      <p class="text text--sm">Настоящая Политика разработана в соответствие с действующим законодательством о защите персональных данных Российской Федерации, в частности, с нормами Федерального закона от 27 июля 2006 года № 152-ФЗ "О персональных данных" (со всеми дополнениями и изменениями), Федерального закона от 21 июля 2014 года № 242-ФЗ "О внесении изменений в отдельные законодательные акты Российской Федерации в части уточнения порядка обработки персональных данных в информационно-телекоммуникационных сетях" (со всеми дополнениями и изменениями).</p>
    </div>
  </article>
</section>
{% endblock content %}