{% extends "common.html" %}
{% load static %}

{% block head %}

{% endblock head%}

{% block title %}Дом Баня - {{project.title}} {{project.square}}м²{% endblock %}

{% block content %}

  <section class="grid">
    <article class="grid__article">
      <div class="grid__element grid__element--wide">
        <h1 class="heading heading--h2 heading--bold">
          {{project.title}} {{project.square}}м<sup class="text__sup">2</sup>
        </h1>
        <p class="text">
          Размеры: <b>{{project.dimensions}}м</b><br>
          Общая площадь: <b>{{project.square}}м<sup class="text__sup">2</sup></b>
        </p>
        <p class="text">
          #TODO short descriprion in model
        </p>
        <picture class="img">
          <img loading="lazy" src="{% static '../'|add:project.image.url|add:'' %}" alt="" class="img__img preview__img">
        </picture>
      </div>
    </article>
  </section>

  <section class="grid">
    <article class="grid__article">
      <div class="grid__element grid__element--wide">
        <h2 class="heading heading--h2 heading--bold heading--paddingBottom-50">Что входит в базовый комплект<br>(тепловой контур) дома?</h2>
        <div>
          <ul class="text text--left list list--paddingLeft-small">
            <li>Проектные и геодезические работы.</li>
            <li>Устройство фундамента (свайно-забивной для базового комплекта).</li>
            <li>Монтаж и демонтаж строительных лесов.</li>
            <li>Монтаж стен из клееного бруса, колонн, обвязочного бруса с обработкой биозащиным составом, монтаж пружинного узла «сила» для крепления бруса между собой.</li>
            <li>Монтаж балок перекрытий цоколя и потолка парной, с дощатым настилом по балкам, обработка балок биозащитным составом, монтаж стропильно-балочной системы.</li>
            <li>Монтаж кровли с утеплением 200 мм, монтаж бруса поперек стропил с внутренним утеплением 50 мм, водосточной системы и снегозадержателей.</li>
            <li>Обработка стен из бруса защитным составом снаружи (антисептик, грунт + 2 слоя покраски) и внутри (2 слоя покраски), отбеливание стен и колонн со всех сторон, шлифовка стен в 1 слой, а также шлифовка торцов с обработкой спецсоставом.</li>
            <li>Обшивка свесов карнизов отделочной рейкой, обработка рейки защитным составом, монтаж лобовой карнизной доски.</li>
            <li>Изготовление и монтаж обсадных коробок и блоков окон и входной двери, изготовление и монтаж видимых поверхностей доборов, наличников с обработкой защитным составом в 2 слоя.</li>
            <li>Утепление перекрытий 200 мм и установка сетки от грызунов под полом.</li>
          </ul>
        </div>
      </div>
    </article>
  </section>

  <section class="grid">
    <article class="grid__article">
      <div class="grid__element grid__element--wide">
        <h2 class="heading heading--h2 heading--bold heading--paddingBottom-50">Хочу такую Дом-Баню</h2>
        <form action="/submit/" class="form form--wide" method="POST">
          <label for="" class="form__label">
            <input type="email" name="email" class="form__input form__input--dark" required>
            <span class="form__placeholder form__placeholder--dark">Ваш email</span>
          </label>
          <label for="" class="form__label">
            <input type="text" name="name" class="form__input form__input--dark" required>
            <span class="form__placeholder form__placeholder--dark">Ваше имя</span>
          </label>
          <label for="" class="form__label">
            <input type="tel" name="phone" class="form__input form__input--dark" required>
            <span class="form__placeholder form__placeholder--dark">Ваш телефон</span>
          </label>
          <input type="hidden" name="form_name" value="{{project.title}} {{project.square}}м">
          <input type="hidden" name="form_link" value="https://domizkleenogobrusa.ru{{ request.path }}">
          <button type="submit" class="form__submit form__submit--dark form__submit--wide form__submit--center button button--big">Позвоните мне</button>
          {% csrf_token %}
        </form>
        <p class="text text--sm">Обработка заявки осущетствляется в течение рабочего дня.<br>Отправляя заявку вы соглашаетесь с нашей <a href="/policy/" class="text__link">политикой конфиденциальности</a>.</p>
      </div>
    </article>
  </section>

{% endblock content %}

{% block scripts %}
{% endblock scripts %}