{% extends "common.html" %}
{% load static %}
{% load thumbnail %}

{% block head %}
  {% if category_title %}
    {% include 'includes/meta.html' %}
  {% else %}
    <meta name="description" content="Проекты бань и домов из клееного бруса от компании «Дом Баня». Мы строим качественно.">
    <meta property="og:description" content="Проекты бань и домов из клееного бруса от компании «Дом Баня». Мы строим качественно.">
    <meta property="og:title" content="Все проекты компании «Дом Баня»">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Дом из клееного бруса">
    <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'img/main-promo-house.jpg'%}">
  {% endif %}
{% endblock head%}

{% block title %}
  {% if category_title %}
    {{ category_title }}
  {% else %}
    Все проекты компании «Дом Баня»
  {% endif %}
{% endblock %}

{% block content %}

<section class="promo promo--half promo--background">
  <div class="promo__wrapper">

    <h1 class="heading heading--h1 heading--white"
        style="max-width: 98%; display: inline-block; margin-left: auto; margin-right: auto;">
      {{ category_header|default:"Дома из клееного бруса" }}
    </h1>

    {% if saunas_list %}
      <a href="{% url 'houses:sauna_categories' %}"
        class="button button--white button--small button--bold">
        ← Назад к категориям
      </a>
    {% elif houses_list %}
      <a href="{% url 'houses:houses_categories' %}"
        class="button button--white button--small button--bold">
        ← Назад к категориям
      </a>
    {% endif %}

  </div>
</section>


{% include 'includes/list_houses.html' %}

{% endblock content %}

{% block scripts %}
<script nonce="{{ CSP_NONCE }}" src="{% static 'js/content-slider/content-slider.js' %}"></script>
<script nonce="{{ CSP_NONCE }}" src="{% static 'js/more.js' %}"></script>
<script nonce="{{ CSP_NONCE }}" src="{% static 'js/tabGroups/tabGroups.js' %}"></script>
{% endblock scripts %}