{% extends "common.html" %}
{% load static %}
{% load thumbnail %}
{% load houses_filters %}

{% block head %}

{% endblock head%}

{% block title %}Дом Баня - {{structure.title}} {{structure.square}}м²{% endblock %}

{% block content %}

  <section class="promo" style="background-image: linear-gradient(0deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 100%), url({% static 'img/projects/'|add:structure.short_name|add:'/'|add:structure.short_name|add:'-0.jpeg' %});">
    <article class="promo__wrapper">
      <h1 class="heading heading--h2 heading--bold heading--white">
        {{structure.title}} {{structure.square}}м<sup class="text__sup">2</sup>
      </h1>
      <p class="promo__text text text--white">
        Размеры дома: <b>{{structure.dimensions}}м</b><br>
        Общая площадь: <b>{{structure.square}}м<sup class="text__sup">2</sup></b><br>
        Базовая стоимость: <b>{{structure.cost}} ₽</b>
      </p>
      <div class="grid grid--marginTop-0">
        <div class="grid__article grid__article--two grid__article--gap-big">
          <div class="grid__element">
            <iframe loading="lazy" class="quote__video" width="560" height="315" src="https://www.youtube.com/embed/{{structure.video_url}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="grid__element">
            <p class="text text--white text--left">Получите консультацию по {% if structure.class_name == 'House' %}этому дому {% else %} этой бане{% endif %}</p>
            <form action="/submit/" class="form form--house" method="POST">
              <label for="" class="form__label">
                <input type="email" name="email" class="form__input" required>
                <span class="form__placeholder">Ваш email</span>
              </label>
              <label for="" class="form__label">
                <input type="text" name="name" class="form__input" required>
                <span class="form__placeholder">Ваше имя</span>
              </label>
              <label for="" class="form__label">
                <input type="tel" name="phone" class="form__input" required>
                <span class="form__placeholder">Ваш телефон</span>
              </label>
              <input type="hidden" name="form_name" value="{{structure.title}} {{structure.square}}м">
              <input type="hidden" name="form_link" value="https://domizkleenogobrusa.ru{{ request.path }}">
              <button type="submit" class="form__submit button button--big">Позвоните мне</button>
              {% csrf_token %}
            </form>
            <p class="text text--white text--sm">Обработка заявки осущетствляется в течение рабочего дня. Отправляя заявку вы соглашаетесь с нашей <a href="/policy/" class="text__link text__link--alt">политикой конфиденциальности</a>.</p>
          </div>
        </div>
      </div>
  </article>
</section>

<section class="grid">
  <article class="grid__article">
    <div class="grid__element grid__element--wide">
      <h2 class="heading heading--h2 heading--paddingBottom-50">{{structure.title}} {{structure.square}}м<sup class="text__sup">2</sup></h2>
      <p class="text text--left">
        Размеры дома: <b>{{structure.dimensions}} м</b><br>
        {% if structure.square1 %}
        Площадь 1-го этажа: <b>{{structure.square1}} м²</b><br>
        {% endif %}
        {% if structure.square1 %}
        Площадь 2-го этажа: <b>{{structure.square2}} м²</b><br>
        {% endif %}
        Общая площадь: <b>{{structure.square}} м²</b>
      </p>
      <p class="text text--left">
        В данном сооружении использовался клееный брус сечением <b>{{structure.brus}} мм</b>.
      </p>
      <div>
        <p class="text text--left text--nopadding">
          Тепловой контур (базовый комплект дома) включает в себя:
        </p>
        <ul class="text text--left list list--paddingLeft-small">
          <li>устройство фундамента,</li>
          <li>монтаж стен из клееного бруса,</li>
          <li>монтаж балок перекрытия 1-ого и 2-ого этажа с утеплением 200 мм,</li>
          <li>монтаж стропильно-балочной системы,</li>
          <li>металлочерепицу,</li>
          <li>монтаж кровли с утеплением 200 мм,</li>
          <li>обработку стен из бруса защитным составом (покраска) в два слоя,</li>
          <li>обшивку свесов карнизов отделочной рейкой,</li>
          <li>монтаж оконных и дверных блоков в комплекте с москитными сетками, ограничителями открывания, подоконниками, отливами.</li>
        </ul>
      </div>
      <p class="text text--left">
        Общая стоимость теплового контура (базового комплекта дома), включая материалы и работы, составляет <b>{{structure.cost}} ₽</b>.
      </p>
      <p class="text text--left">
        Срок строительства <b>{{structure.construction}}</b>.
      </p>
      <p class="text text--left">
        Стоимость проекта меняется в зависимости от сечения бруса, фундамента, комплектации и выбора отделочных материалов.
      </p>
    </div>
  </article>
</section>

<section class="gallery" id="lightgallery">

  {% with ''|center:structure.images_count as range %}
    {% for i in range %}
      {% with img_link='img/projects/'|add:structure.short_name|add:'/'|add:structure.short_name|add:'-'|concat:forloop.counter0|add:'.jpeg' counter=forloop.counter0 %}

      <a class="gallery__link" href="{% static ''|add:img_link %}">

        {% with 'https://'|add:request.get_host|add:STATIC_URL|add:img_link as path %}
          {% thumbnail path "357x240" crop="center" upscale=True as im %}
            <img loading="lazy" alt="Изображение {{structure.title}} {{structure.square}}м² {{counter}}" src="{{ im.url }}" class="gallery__img" data-img-index="{{counter}}" tabindex="0" />
          {% endthumbnail %}
        {% endwith %}
      </a>
      {% endwith %}
    {% endfor %}
  {% endwith %}
  
</section>

{% endblock content %}

{% block scripts %}
<script nonce="{{ CSP_NONCE }}" src="{% static '/js/lightgallery/lightgallery.js' %}"></script>
<script nonce="{{ CSP_NONCE }}" src="{% static '/js/lightgallery/lg-thumbnail.js' %}"></script>
<script type="text/javascript">
  lightGallery(document.getElementById('lightgallery'), {
      plugins: [lgThumbnail],
      thumbnail: true,
      licenseKey: 'your_license_key',
      speed: 500,
  });
</script>
{% endblock scripts %}